@page "/battle"
@using Domain.Entities
@inject HttpClient Http

<PageTitle>Battle</PageTitle>

<h3>Battle</h3>

@if (hamsters == null)
{
    <p><em>Loading new battle...</em></p>
}
else
{
    if (hamsters.Length <= 0)
    {
        <p><em>No hamsters here :(</em></p>
    }
    else
    {
        @foreach (var hamster in hamsters)
        {
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                </div>
            </div>
        }
    }

}


@code {

    private Hamster[]? hamsters;
    protected override async Task OnInitializedAsync()
    {
        hamsters = await Http.GetFromJsonAsync<Hamster[]?>("api/hamster/random");
    }
}
