@using HamsterWarsBlazor.Shared;
@using Services
@using System.Net.Http.Json
@inject HttpClient Http;

<style> 
    #exampleModal{
        position: fixed;
        z-index: 999;
        
    }
</style>

@if (ShowDialog)
{

        
    
    <div class="modal fade show d-inline-block " id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleLabel">Add Employee</h5>
                    <button type="button" class="close" @onclick="@Close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <CreateHamsterForm></CreateHamsterForm>
                </div>
            </div>
        </div>
    </div>
}

@code {
    
    public bool ShowDialog
    {
        get;
        set;
    }

    public void Show()
    {
        
        ShowDialog = true;
        StateHasChanged();
    }
    public void Close()
    {
        ShowDialog = false;
        
    }


}

