@page "/hamstergrid"
@using Domain.Entities
@inject HttpClient Http


<div class="p-1 text-center bg-light">
    <h1 class="p-2 px-3 text-uppercase text-primary">Hamster Grid</h1>
</div>

<CreateHamsterModal @ref="createHamsterModal"></CreateHamsterModal>
    
<div class="grid-wrap">
    <div class="grid-container">
        @foreach (var hamster  in hamsters){
            <div class="card-container">                
                <HamsterCard hamster="@hamster"></HamsterCard>
            </div>
            
        }

    </div>

</div>



@code {
    private Hamster[]? hamsters;


    private CreateHamsterModal createHamsterModal;
    
    private void OpenCreateHamsterModal() => createHamsterModal.Show();

    protected override async Task OnInitializedAsync()
    {
        hamsters = await Http.GetFromJsonAsync<Hamster[]?>("api/hamster");
    }
}
